os:
  - osx
language: generic
sudo: required
osx_image: xcode9
before_install:
  - brew update
install:
  - brew install libgit2
  - brew install llvm@4.0
  - export PATH="/usr/local/opt/llvm@4.0/bin:$PATH"
  - echo $PATH
  - ls /usr/local/opt/llvm@4.0/bin
script:
  - set -o pipefail
  - swift package fetch
  - echo $PATH
  - swift .build/checkouts/LLVMSwift.git-*/utils/make-pkgconfig.swift
  - swift build -Xcc -I/usr/local/opt/llvm/include -Xlinker -L/usr/local/opt/llvm/lib
